*{
    height: 100%;
    margin: 0;
}

.Under_Construction {
    background-image: url("../View/Images/under construction.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}